
main{
  margin-top: 60px;
  text-align: center;

}
body{
  background-color: black;
  color: white;
}

.specImage{
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;
  margin: auto;
}
.card{
  margin: 5px;
  transition: 0.3s ease;
}
.card:hover{
  box-shadow:   9px 7px 5px -3px rgba(255, 255, 255, 0.50);
  transform: scale(1.07);
  cursor: pointer;
} 